.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-container{
  margin: 10px;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}