body{
background-color: black;
color: azure;

}





.image-list{
  columns: 250px 4;
  column-gap: 10px;
  margin-top: 20px;
}

.image-list-img{
  padding: 10px;
  width: 90%;
  height: auto;
  transition:all 0.3s ease
}


.search-div{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.search-div input{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.4rem;
  width: 210px;
  border-radius: 8px;
  text-align:center
}