.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  width: 300px;
  height: 500px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card .details {
  padding: 16px;
}

.card .details label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333333;
}

.card .details label:first-child {
  font-weight: bold;
  margin-bottom: 14px;
  font-size: 1.4rem;
}

.card .details label:last-child {
  color: #666666;
  font-style: italic;
  margin-top: 24px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-container button {
  border: none;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0px 10px;
  transition: all 0.3s ease;
}

.btn-container button:hover {
  scale: 1.3;
}

.delete-btn {
  border: none;
  background-color: red;
  color: white;
  font-size: 2rem;
  width: 20%;
  height: 30px;
  margin-top: auto;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.delete-btn:hover {
  height: 50px;
  scale: 1.2;
}
