.new-course-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.new-course-form {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.new-course-form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.new-course-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.new-course-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.new-course-form button:hover {
    background-color: #0056b3;
}
