.navbar-main {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(22, 27, 78);
  color: white;
  font-size: 1.3rem;
}

.basket-container {
  display: flex;
  font-size: 2rem;
  margin-top: 10;
}

.icon {
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 33px;
  margin-left: 18px;
}

.basket-counter {
  background-color: white;
  color: black;
  width: 34px;
  text-align: center;
  border-radius: 50%;
}
