.add-button{
        text-align: center;
        width: 25%;
        background-color: blueviolet;
        color: azure;
        padding: 10px;
        font-size: 2rem;
        border-radius: 8px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    

.rabbit-container{
    display: flex;
    flex-wrap: wrap;
}

.rabbit-card{
    align-items: center;
    width: 400px;
    height: 300px;
    border: 1px solid black;
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} 

.rabbit-image{
    width: 400px;
    height: auto;
}